<!DOCTYPE html>
<html lang="en">

{{>partials/head}}

<style>
    main {
        padding: calc(2 * var(--unit));
    }

    table {
        font-size: 0.8rem;
    }

    td,
    th {
        padding: var(--unit);
    }
</style>

<body>
    <main>
        <article>

            <h1>Admin-sidan!</h1>

            <p>
                Välkommen, {{name}} ({{email}})
            </p>
        </article>

        <article>
            <h2>
                Inbjudningar
            </h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>
                            Inbjudan
                        </th>
                        <th>
                            Lösenord
                        </th>
                        <th>
                            Loggade in första gången
                        </th>
                        <th>
                            Loggade in senast
                        </th>
                        <th>
                            Har OSA:t?
                        </th>
                        <th>
                            Vill ha +1
                        </th>
                    </tr>
                </thead>
                <tbody>

                    {{#each invites}}
                    <tr>
                        <td> {{greeting}} </td>
                        <td>{{password}} </td>
                        <td>{{#if first_login}}{{first_login}}{{/if}}</td>
                        <td>{{#if last_login}}{{last_login}}{{/if}}</td>
                        <td>{{#if submitted}}Ja{{/if}}</td>
                        <td>{{#if submitted}}{{plus_one}}{{/if}}</td>

                    </tr>
                    {{/each}}
                </tbody>

            </table>
        </article>

        <article>
            <h2>
                Svar
            </h2>
            <ul>
               <li>Antal som tackat ja: {{n_attending}}</li>
               <li>Antal som tackat nej: {{n_not_attending}}</li>
               <li>Antal som inte svarat: {{n_no_response}}</li>
               <li>Antal inbjudna: {{n_total}}</li>
            </ul>
            <table border="1">
                <thead>
                    <tr>
                        <th>
                            Namn
                        </th>
                        <th>
                            Kommer
                        </th>
                        <th>
                            Matpreferens
                        </th>
                    </tr>
                </thead>
                <tbody>

                    {{#each invites}}
                    {{#if submitted}}
                    {{#each responses}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{attending}}</td>
                        <td>{{food_preferences}}</td>
                    </tr>
                    {{/each}}
                    {{/if}}
                    {{/each}}
                </tbody>

            </table>
        </article>
    </main>
</body>

</html>