<!DOCTYPE html>
<html lang="en">

{{>partials/head}}

<style>
    main {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: var(--unit);
        align-items: center;
    }

    #content {
        margin-top: auto;
        margin-bottom: auto;
        align-self: center;
    }
</style>

<body>
    <main>
        <header>
            {{>partials/small_logo}}
        </header>

        <aside id="menu-container">
            {{>partials/menu}}
        </aside>

        <article id="content">
            {{#if submitted}}
            <p>
                Tack för dina svar! Du kan uppdatera dina svar när du vill.
            </p>
            {{/if}}

            <h1>OSA</h1>
            <form method="post" action="/registration">
                {{#each invite.responses}}
                <h2>{{name}}</h2>

                <input name="responses[{{@index}}].name" style="display:none" value="{{name}}">

                <input type="radio" name="responses[{{@index}}].attending" id="attending-yes-{{@index}}" value="true"
                    {{#if attending}}checked{{else}}{{/if}} />
                <label for="attending-yes-{{@index}}">Ja, jag kommer på bröllopet</label>
                <br>

                <input type="radio" name="responses[{{@index}}].attending" id="attending-no-{{@index}}" value="false"
                    {{#if attending}}{{else}}checked{{/if}} />
                <label for="attending-no-{{@index}}">Nej, jag kan tyvärr inte komma på bröllopet</label>
                <br>

                <label for="food-preferences-{{@index}}">Har du någon matallergi eller matpreferens vi bör känna
                    till?</label>
                <br>
                <input name="responses[{{@index}}].food_preferences" value="{{food_preferences}}"
                    id="food-preferences-{{@index}}" placeholder="t.ex. glutenintolerans" />
                <br>

                {{/each}}

                <label for="plus-one">Om möjligt, vill jag ta med en gäst*</label>
                <input type="checkbox" id="plus-one" name="plus_one" {{#if invite.plus_one}}checked{{/if}} />

                <br>

                <button type="submit">Skicka svar</button>

                <p>* vi meddelar dig om det finns plats</p>
            </form>

        </article>
    </main>
</body>

</html>