<!DOCTYPE html>
<html lang="en">

{{>partials/head}}

<style>
    main {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: var(--unit);
        align-items: center;
    }

    #content {
        margin-top: auto;
        margin-bottom: auto;
        align-self: center;
    }

    #submit-button {
        margin-top: var(--unit);
    }

    .input-group {
        display: flex;
        gap: 0 calc(2 * var(--unit));
        align-items: center;
    }

    .flex-vertical {
        align-items: stretch;
        flex-direction: column;
    }
</style>

<body>
    <main>
        <header>
            {{>partials/small_logo}}
        </header>

        <aside id="menu-container">
            {{>partials/menu}}
        </aside>

        <article id="content" class="container">
            {{#if submitted}}
            <p>
                Tack för dina svar! Du kan uppdatera dina svar när du vill.
            </p>
            {{/if}}

            <h1>OSA</h1>

            <p>
                Dags att OSA! Fyll i formuläret nedan och skicka sedan in dina svar. Du kan alltid ändra svaren i
                framtiden, om det skulle behövas.
            </p>

            <p>Vi behöver dina svar senast den 31a mars.</p>

            <form method="post" action="/registration">
                {{#each invite.responses}}
                <hr>

                <h2>{{name}}</h2>

                <input name="responses[{{@index}}].name" style="display:none" value="{{name}}">

                <div class="input-group">
                    <input type="radio" name="responses[{{@index}}].attending" id="attending-yes-{{@index}}"
                        value="true" {{#if attending}}checked{{else}}{{/if}} />
                    <label for="attending-yes-{{@index}}">Ja, jag kommer på bröllopet</label>
                </div>

                <div class="input-group">
                    <input type="radio" name="responses[{{@index}}].attending" id="attending-no-{{@index}}"
                        value="false" {{#if attending}}{{else}}checked{{/if}} />
                    <label for="attending-no-{{@index}}">Nej, jag kan tyvärr inte komma på bröllopet</label>
                </div>

                <div class="input-group flex-vertical">
                    <label for="food-preferences-{{@index}}">Har du någon matallergi eller matpreferens vi bör känna
                        till?</label>
                    <br>

                    <input name="responses[{{@index}}].food_preferences" value="{{food_preferences}}"
                        id="food-preferences-{{@index}}" placeholder="t.ex. glutenintolerans" />
                </div>


                {{#if @last}}
                <hr>
                {{/if}}

                {{/each}}

                <label for="plus-one">Om möjligt, vill jag ta med en gäst*</label>
                <input type="checkbox" id="plus-one" name="plus_one" {{#if invite.plus_one}}checked{{/if}} />

                <br>

                <button id="submit-button" type="submit">Skicka svar</button>

                <p>* vi meddelar dig om det finns plats</p>
            </form>

        </article>
    </main>
</body>

</html>